<?xml version="1.0"?>
<launch>
    <!-- X Y Z Y P R transform of marvel origin frame wrt map frame. Needs to be physically measured. -->
    <arg name="origin_pos" default="1 0 0 0 0 0"/>

    <node pkg="tf" type="static_transform_publisher" name="vicon_origin" 
    args="$(arg origin_pos) /map /vicon/world 1"/>

    <node pkg="vicon_setorigin" type="vicon_interpreter" name="vicon_interpreter" output="screen"/>
    
</launch>