<?xml version="1.0"?>
<launch>         
	
    <rosparam command="load" file="$(find araig_interpreters)/config/test_interpreters.yaml"/>

    <node pkg="araig_interpreters" type="pose_tf_broadcaster" name="goal_tf2_broadcaster" output="screen" />

    <node pkg="araig_interpreters" type="goal_interpreter" name="goal_interpreter" output="screen">
        <remap from="/goal" to="/data/interpreter/goal"/>
        <remap from="/start" to="/signal/runner/enable_robot"/>
    </node>

</launch>
