<?xml version="1.0"?>
<launch>         
	
    <rosparam command="load" file="$(find araig_interpreters)/config/test_interpreters.yaml"/>

    <node pkg="araig_interpreters" type="pose_tf_broadcaster" name="goal_tf2_broadcaster" output="screen" />

    <node pkg="araig_interpreters" type="pose_tf_broadcaster" name="obstacle_tf2_broadcaster_node" output="screen" />

</launch>
