<?xml version="1.0"?>
<launch>         

    <rosparam command="load" file="$(find araig_interpreters)/config/test_interpreters.yaml"/>

    <node pkg="araig_interpreters" type="velocity_interpreter" name="velocity_interpreter" output="screen">
        <remap from="/start" to="/signal/runner/start_robot"/>
        <remap from="/stop" to="/signal/runner/stop_robot"/>
        <remap from="/velocity" to="/cmd_vel"/>    
    </node>
    
</launch>
