<launch>        

    <arg name="dest_dir" default="$(env HOME)/ARAIG" />

    <rosparam command="load" file="$(find turtlebot3_sim_tests)/config/test1_braking.yaml" />
    <param name="/calculators/dest_dir" value="$(arg dest_dir)" />

    <include  file="$(find araig_calculators)/launch/test_rosbagger.launch" />

    <node pkg="araig_calculators" type="rosparam_logger_node" name="rosparam_logger_node" output="screen" >
        <remap from="/start" to="/signal/runner/start_robot"/>
        <remap from="/stop" to="/signal/runner/test_completed"/>
    </node>


</launch>
