<launch>        

    <arg name="dest_dir" default="$(env HOME)/ARAIG" />

    <rosparam command="load" file="$(find turtlebot3_sim_tests)/config/test1_braking.yaml" />
    <param name="/calculators/dest_dir" value="$(arg dest_dir)" />

    <include  file="$(find araig_calculators)/launch/test_folder_bagger.launch" />

    <node pkg="araig_calculators" type="float_series_logger_node" name="speed_logger" output="screen" >
        <remap from="/start" to="/signal/runner/start_robot"/>
        <remap from="/stop" to="/signal/runner/test_completed"/>
        <remap from ="/in_float" to="/data/robot/odom/twist/linear/x" />
    </node>

    <node pkg="rostopic" type="rostopic" name="fake_odom_x_pub" 
        args=" pub -r 10 /data/robot/odom/twist/linear/x std_msgs/Float64 'data: 1.0'"/>

</launch>
