<launch>

    <node pkg="rosbag" type="play" name="rosbag" required="true" args="$(arg video_path)$(arg bag)"/>

    <node pkg="image_view" type="image_saver" name="image_saver" cwd="ROS_HOME" output="screen">
      <remap from="/image" to="/sensor_usb_cam/image_raw"/>
      <param name="filename_format" value="frame%04i.jpg"/>
    </node>
    
  </launch>