<launch>
    <arg name="video_path" default="/home/chang/ARAIG/navel/test3/"/>
    <arg name="bag" default="1_StraightToBulge/test3_2021-09-15-15-06-40.bag"/>

    <node pkg="rosbag" type="play" name="rosbag" required="true" args="$(arg video_path)$(arg bag)"/>

    <!-- using tools in package image_view to save the images from image stream or directly save the video -->
    <!-- source: http://wiki.ros.org/image_view -->
    <!-- Tool 1: image_view image_saver -->
    <!-- param filename_format default: left%04d.%s
    param encoding  default: bgr8
    param save_all_image  default: true -->
    <node pkg="image_view" type="image_saver" name="image_saver" cwd="ROS_HOME" output="screen">
      <remap from="/image" to="/sensor_usb_cam/image_raw"/>
      <param name="filename_format" value="frame%04i.jpg"/>
    </node>
    
    <!-- Tool 2: image_view extract -->
    <!-- the sec_per_frame should be specified -->
    <!-- param filename_format: filename of saved images, default  = frame%04d.jpg -->
    <!-- sec_per_frame: sec per extracted frame, default = 0.1 -->
    <!-- <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
      <remap from="/image" to="/sensor_usb_cam/image_raw"/>
      <param name="filename_format" value="frame%04d.jpg"/>
      <param name="sec_per_frame" value="1/30"/>
    </node> -->

    <!-- Tool 3: image_view video_recorder -->
    <!-- the fps info of saved video is missing -->
    <!-- param filename default: output.avi
    param fps default: 15
    param codec default: MJPG
    param encoding default: bgr8 -->
    <!-- <node pkg="image_view" type="video_recorder" name="video_recorder" output="screen" cwd="ROS_HOME">
      <remap from="/image" to="/sensor_usb_cam/image_raw"/>
      <param name="filename" value="cam1.mp4"/>
      <param name="fps" value="30"/>
    </node> -->

    
  </launch>