<launch>
    <arg name="video_path" default="/home/chang/ARAIG/navel/test3/"/>
    <arg name="bag" default="1_StraightToBulge/test3_2021-09-15-15-06-40.bag"/>
    <arg name="bag2" default="2_DiagonalToBulge/test3_2021-09-15-15-07-34.bag"/>

    <node pkg="rosbag" type="play" name="rosbag" required="true" args="$(arg video_path)$(arg bag)"/>
    <!-- <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
      <remap from="/image" to="/sensor_usb_cam2/image_raw"/>
    </node> -->
    <node pkg="image_view" type="image_saver" name="image_saver" cwd="ROS_HOME" output="screen">
      <remap from="/image" to="/sensor_usb_cam2/image_raw"/>
      <param name="filename_format" value="frame%04i.jpg"/>
    </node>
  </launch>